@import "tailwindcss";
@plugin "daisyui";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E3FDFD;
}

body {
  max-width: 1444px;
  position: relative;
  color: white; /* Optional: ensures text is readable */
}